.big-img-modal {
  background: transparent;
  position: fixed;
  border-radius: 10px;
  width: 50%;
  left: 50%;
  top: 50%;
  max-height: 85vh;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all .3s;
  display: flex;
  align-items: center;

  @media (max-width: 1280px) {
    width: 60%;
  }

  @media (max-width: 768px) {
    width: 70%;
  }

  &.big-img-modal_active {
    z-index: 99999;
    opacity: 1;
    visibility: visible;
  }

  img {
    border-radius: 10px;
    max-height: 85vh;
    width: 100%;
  }

  .product-gallery__swiper-button-prev,
  .product-gallery__swiper-button-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;

    svg {
      width: 45px;
      height: 100px;
    }

    &:hover svg path {
      fill: $purple-main-hover;
    }

    svg path {
      transition: all .3s;
    }
  }

  .product-gallery__swiper-button-next {
    right: -100px;
  }

  .product-gallery__swiper-button-prev {
    left: -100px;
  }
}