.footer {
  background: #1C283A;
  padding: 50px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .copyright-symbol {
    font-size: 16px;
  }

  &__company {
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;

    @media (max-width: 1024px) {
      max-width: 150px;
    }

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 39%;

    a {
      font-size: 16px;
      line-height: 25px;
      color: #FFFFFF;
      transition: all .3s;

      &:hover {
        color: #A5B4C4;
      }
    }

    @media (max-width: 1024px) {
      justify-content: space-around;
      font-size: 15px;
      line-height: 23px;
      width: 50%;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

  }

  &__menu-item {
    @media (max-width: 1024px) {
      padding-right: 15px;

      a {
        font-size: 14px;
      }
    }
  }


  &__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 12%;
    svg {
      width: 26px;
      height: 26px;
    }

    @media (max-width: 1280px) {
      width: 15%;
    }

    @media (max-width: 1024px) {
      width: 20%;
    }

    @media (max-width: 768px) {
      width: 45%;
    }

    @media (max-width: 420px) {
      width: 65%;
    }

  }


  &__socials-link {
    &:hover .socials-bg {
      fill: #00C9FF;
    }
  }

}
