.careers-page {
  padding-top: 92px;
  padding-bottom: 44px;

  &__swiper-container {
    padding: 5px 0 0;
  }

  .careers-caption {
    &__top {
      display: flex;
      margin-bottom: 33px;
      align-items: flex-start;

      p {
        max-width: 860px;
        font-weight: 600;
      }

    }

    &__title {
      margin-right: 90px;
    }

    &__inner {
      display: flex;
    }

    &__list {
      width: 82%;
      margin-right: 42px;
      height: 720px;
      overflow-y: scroll;
      padding-right: 30px;
      scrollbar-color: #F3F3F3 transparent;
      scrollbar-width: thin;


      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;


      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-thumb {
        background: #F3F3F3;
        border-radius: 50px;
      }
    }


    &__list-item {
      border: 1px solid #A5B4C4;
      padding: 20px 30px;
      width: 49%;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 28px;
      max-height: 150px;
    }

    &__item-title {
      color: #1C283A;
      margin-bottom: 12px;
      pointer-events: none;
    }

    &__item-text {
      color: #1C283A;
      pointer-events: none;
    }

    &__application {
      width: 100%;

      a {
        display: block;
        padding: 18px 15px 20px;
        background-color: #F3F3F3;
        width: 100%;
        color: #1C283A;
        border-radius: 5px;
        transition: all .3s;

        &:hover {
          background-color: #00B9EE;
          color: #FFFFFF;
        }
      }
    }

    &__menu {
      width: 260px;

      li {
        margin-bottom: 22px;
      }
    }


    &__menu-btn {
      border: none;
      background: none;
      border-radius: 50px;
      padding: 6px 20px;
      cursor: pointer;
      color: #1C283A;
      transition: all .3s;
      &.main-link {
        line-height: 27px;
      }
    }

  }


  .careers-work {
    padding: 57px 0 25px 0;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: -8px;
    }

    &__title {
      margin-right: 50px;
      margin-bottom: 5px;
      line-height: 55px;
      color: $purple-main;
      span {
        @include montserrat-semibold;
        font-size: 20px;
        line-height: 24px;
        vertical-align: top;
        color: #D9D9D9;
      }
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 425px;

      .careers-work__menu-btn {
        line-height: 27px;
        border: none;
        background: none;
        border-radius: 50px;
        padding: 7px 12px;
        cursor: pointer;
        transition: all .3s;
      }


      .careers-work__menu-btn_active {
        color: #FFFFFF;
        background: $purple-main;
      }
    }

    .careers-work-swiper {
      overflow: hidden;
      padding: 14px;

      .swiper-wrapper {
        margin-bottom: 15px;
      }

      &__img {
        padding-top: 51%;
        position: relative;
        cursor: pointer;
      }

      .swiper-slide img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: all .3s;
      }

      .swiper-slide:hover img {
        transform: scale(1.07);
      }

      &__category {
        color: #00B7F1;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 15px;
      }

      &__content {
        display: flex;
        position: relative;
        flex-direction: column;
        min-height: 50px;
      }

      &__date {
        margin-top: 18px;
        display: none;
      }

      &__text {
        max-width: 377px;
      }

      .careers-work__swiper-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .careers-work__swiper-controls {
        display: flex;
        align-items: center;
      }

      .careers-work__swiper-button-prev,
      .careers-work__swiper-button-next {
        background: none;
        border: none;
        width: 55px;
        height: 25px;
        cursor: pointer;
        display: inline-block;
        position: relative;

        svg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .careers-work__swiper-button-next {
        margin-left: 5px;
      }

      .careers-work__swiper-button-prev svg path,
      .careers-work__swiper-button-next svg path {
        transition: all .3s;
      }

      .careers-work__swiper-button-prev:hover svg path,
      .careers-work__swiper-button-next:hover svg path {
        fill: #00B9EE;
      }
    }

    &__btn {
      background: none;
      border: none;
      color: $secondary;
      cursor: pointer;
      padding: 0;
      transition: all .3s;

      &:hover {
        color: #00C9FF;
      }
    }

  }

}

