@media (max-width: 1440px) {
  .products-main__menu {
    width: 100%;
  }
}

@media (max-width: 1280px) {

  .products-page__items .container {
    padding: 0 15px;
  }

  .products-main {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 85px;
  }

  .products-main__top {
    flex-direction: column;
    align-items: center;
  }

  .products-main__title {
    margin-right: 0;
    margin-bottom: 44px;
  }

  .products-main__desc p {
    margin-bottom: 42px;
  }

  .products-page .products-item__content-title {
    margin-bottom: 20px;
  }

  .products-page .products-item p {
    margin-bottom: 20px;
  }

  .products-page__articles {
    padding: 58px 0 64px;
  }

  .products-page__articles h2 {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {

  .products-page .products-main .container {
    margin-bottom: 100px;
  }

  .products-main {
    padding-bottom: 10px;
    padding-top: 61px;
  }

  .products-main__title {
    margin-bottom: 30px;
  }

  .products-page .products-item:not(:last-child) {
    margin-bottom: 100px;
  }

  .products-page .products-item__content-title {
    margin-bottom: 15px;
  }


  .products-main__desc p {
    margin-bottom: 38px;
  }
  .products-page__products-list {
    padding: 0;
  }
  .products-page__articles {
    padding: 45px 0 51px;
  }
  .products-page__articles h2 {
    margin-bottom: -10px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }

  .products-page__items-line {
    display: none;
  }

  .products-page .products-main .container {
    margin-bottom: 50px;
  }


  .products-page .products-item > a{
    flex-direction: column;
  }

  .products-page .products-item__img {
    width: 80%;
    margin-bottom: 30px;
    padding-top: 45%;
  }

  .products-page .products-item__content {
    width: 100%;
  }

  .products-page .products-item.products-item_left .products-item__img {
    order: 0;
  }

  .products-page__articles h2 {
    margin-bottom: -12px;
  }


  .products-page__articles h2 span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

}

